<!DOCTYPE html>
<html>
<head>
  <meta charset="utf-8" />
  <meta http-equiv="X-UA-Compatible" content="IE=edge,chrome=1" />
  <meta name="viewport" content="width=device-width, initial-scale=1.0, maximum-scale=1.0">
  <title>Restoring - Dog Personal Account</title>
  
  <link rel="stylesheet" href="/ui/semantic.min.css" />

  <style type="text/css">
    body {
      background-color: #DADADA;
    }
    body > .grid {
      height: 100%;
    }
    .image {
      margin-top: -100px;
    }
    .column {
      max-width: 450px;
    }
  </style>
</head>
<body>

<div class="ui middle aligned center aligned grid">
  <div class="column">
    <h2 class="ui teal image header">
      <img src="https://ctf.upml.tech/media/attachments/logo.png" class="image">
      <div class="content">
        Restore password
      </div>
    </h2>
    <div class="ui tablet stackable steps">
      <div class="step">
         <i class="user icon"></i>
         <div class="content">
           <div class="title">Login</div>
           <div class="description">Enter login</div>
         </div>
      </div>
      <div class="active step">
         <i class="mail icon"></i>
         <div class="content">
           <div class="title">E-mail</div>
           <div class="description">Confirm e-mail</div>
         </div>
      </div>
      <div class="disabled step">
         <i class="help icon"></i>
         <div class="content">
           <div class="title">Challenge</div>
           <div class="description">Complete verification</div>
         </div>
      </div>
    </div>
    <form class="ui large form" method="post" action="/restore/email/">
      <div class="ui stacked segment">
        <div class="field">
          <div class="ui left icon input">
            <i class="mail icon"></i>
            <input type="text" name="email" placeholder="Your e-mail, used when registered">
          </div>
        </div>
       <button class="ui fluid large teal submit button">Next</button>
      </div>

      <div class="ui {% if error %}visible {% endif %}error message">{{error}}</div>

    </form>
  </div>
</div>

</body>

</html>
<F3>
